{% layout 'layout.liquid' %}
{% block content %}
    <div class="homepage">
        <h1>Welcome to Contemplate !!!</h1>


        <h4>This app will provide you new topics daily to think about</h4>
        <h4>Our goal is to create a society where people learns and gets to knows more about themselves!</h4>
    </div>
{% endblock %}