{% layout 'layout.liquid' %}
{% block content %}


  <div class="container-sm">
  
  <h1>{{ dailyqs.quote }}</h1>

    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    
    <form action="/comments/" method="POST" target="dummyframe">

        <label class="form-label">Comment:</label>
        <input type="text" class="form-control" name="note" placeholder="type here" required>
        <input type="submit" class="btn btn-success mt-3" value="Post" onclick="window.location.reload()">
        
    </form>

   
    {% for Comment in comments %}
      <div id="comment-{{ Comment.id }}">

          <h5> {{ Comment.note }}</h5>

          <form action="/comments/{{ Comment.id }}?_method=DELETE" method="POST">

            <input class="btn btn-danger" type="submit" value="Delete" onclick="window.location.reload">

          </form>

      </div>

    {% endfor %}
    
    </div>
    
  {% endblock %}
